@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600;700;800;900&display=swap");
@import "./scss/question";
@import "./scss/result";

.homePage {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #5b7c9a 0.69%, #021425 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  img {
    width: 70%;
    margin: auto !important;
    margin-top: 7rem !important;
  }
  .btn {
    background-image: linear-gradient(#0d2134, #314c64);

    color: #fff;
    border-radius: 0.5rem;

    font-weight: 400;
    font-family: "MuseoModerno", cursive;
    padding: 10px !important;
    width: 70%;
    margin: auto !important;
    border: none;
    margin-top: 3rem !important;
    .active {
      text-decoration: none;
      color: white;
    }
  }
}
